* {
  box-sizing: border-box;


}

body {
  background-color: black;
  font-family: sans-serif;
  
}

/* Hide scrollbar */
::-webkit-scrollbar {
  display: none;
}

@media screen and (max-width:640px) {
  .navbar {
    padding: 28px 20px;
  }

  .logo {
    height: 30px;
  }

  .get-btn {
    padding: 12px 20px;
  }
}

@media screen and (max-width:550px) {

  /* navbar section */
  .navbar {
    padding: 17px 16px;

  }

  .logo {
    height: 25px;
  }

  .lang,
  .btn {
    padding: 5px;
    font-size: 18px;
  }


 

  .main-p {
    font-size: 16px;
    margin-top: 10px;
  }


}