@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

@import "tailwindcss";

* {
  box-sizing: border-box;

}

html {
  font-size: 14px;
}

body {
  background-color: #141414;
  font-family: 'Inter', 'Poppins', system-ui, sans-serif;

}

/* Hide scrollbar */
::-webkit-scrollbar {
  display: none;
}

.skeleton {
  position: relative;
  overflow: hidden;
  background-color: #2a2a2a;
  border-radius: 0.5rem;
}

.skeleton::after {
  content: '';
  position: absolute;
  top: 0;
  left: -150px;
  height: 100%;
  width: 150px;
  background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.2), transparent);
  animation: shimmer 1.5s infinite;
}

@keyframes shimmer {
  0% {
    left: -150px;
  }

  100% {
    left: 100%;
  }
}




/* banner */
.banner {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.banner iframe {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  object-fit: cover;

}



/* Movies */
.movies {
  width: 200px;
  aspect-ratio: 2/3;
  object-fit: cover;

}


/*top10 rows */
.top10-row {
  display: flex;
  gap: 20px;
  overflow-x: auto;
  overflow-y: visible;
  padding: 20px 0px ;
  width: 100%;
}

.top10-Card {
  position: relative;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

.top10-poster {
  position: relative;
  left: -20px;
  width: 180px;
  height: 260px;
  object-fit: cover;
  z-index: 2;
}

.top10-rank {
  font-size: 220px;
  font-weight: 900;
  line-height: 1;
  /* Netflix outline effect */
  color: transparent;
  -webkit-text-stroke: 6px rgba(255, 255, 255, 0.25);
  z-index: 1;
  user-select: none;
  pointer-events: none;
}





@media screen and (max-width:1024px) {
  .banner {
    height: 85vh;
  }

}

@media screen and (max-width:768px) {

  .banner {
    height: 63vh;
  }

  /* rows */
  .movies {
    width: 120px;
  }

  /* top10 */
  .top10-poster{
    width: 140px;
    height: 230px;
  }
}



@media screen and (max-width:640px) {
  .banner {
    height: 53vh;
  }

}

@media screen and (max-width:425px) {
  .banner {
    height: 35vh;
  }

  /* rows */
  .movies {
    width: 100px;
  }

  /* top 10 */
  .top10-row{
    gap: 0;
  }

  .top10-rank{
    font-size: 150px;
  }
  .top10-poster{
    height: 150px;
    width: 100px;
  }
}